body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
   display: flex;
   background-image: url(matrix.jpg);
   background-size: cover;
   
}

h1 {
    font-family: 'Special Elite', cursive;
    margin: auto;
    font-size: 2.2rem;
    animation: typing-text 2s steps(26), blink 0.5s infinite;
    overflow: hidden;
    white-space: nowrap;

    border-right: 4px solid black;

}
@keyframes typing-text {
    from {
        width: 0;
    }
    to {
        width: 410px;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #000;
    }
}